html {
	background: #436343;
}

body {
	font-family: system-ui, sans-serif;
	max-width: 900px;
	margin: auto;
	padding: 2rem;
	background: #436343;
	color: #fff6c7;
}
nav {
  background-color: #fff6c7;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

nav a {
  color: #436343;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  color: #669666;
}

.profile-pic{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
	border: 7px solid #253025;
	display: block;
	margin: 0 auto;
}

.about-pic{
	width: 600px;
	height: 600px;
	border-radius: 50%;
	object-fit: cover;
	border: 7px solid #253025;
	display: block;
	margin: 0 auto;
}

.home-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
	margin: 2rem 0;
}

.home-text{
	flex: 1;
	min-width: 250px;
}

.home-photo{
	flex: 1;
	min-width: 150px;
	display: flex;
	justify-content: center;
}